<%= render :partial => "main/header", locals: {page_title: "Details"} %>

<div data-role="content">
  <div id="container">
		<div>
			<h2>Tournament: <%= @contest.name %></h2>
			<div>
				Players
				<ul>
					<% @players.each do |player| %>
						<li><%= player.name %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
