<%= render :partial => "main/header", locals: {page_title: "Player"} %>
<div data-role="content">
	<% title "Player" %>

	<p>
	  <strong>Name:</strong>
	  <%= @player.name %>
	</p>

	<p>
	  <%= link_to "Edit", edit_player_path(@player) %> |
	 
	  <%= link_to "View All", players_path %>
	</p>
</div>